.player img {
    border: 4px solid white;
    position: relative;
    margin-top: -100px;
}

.card {
    max-width: 300px;
}

.profile-pic {
    width: 100%;
    text-align: center;

    margin-top: -75px;
}

.profile-pic img {
    width: 50%;
    border-radius: 50%;
}

.link {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.link a img {
    max-width: 20px;
}